.root{
    -fx-background-color: #BDBCFC;
}

#backgroundLogin, #backgroundRegister {
    -fx-background-color: #FFF379;
}

.password-field{
    -fx-background-color: #FFF8AC;
}

.text-field{
    -fx-background-color: #FFF8AC;
}
.label{
    -fx-text-fill: #6A68D1;
}

.button{
    -fx-background-color: #BDBCFC;
    -fx-background-radius: 25;
    -fx-text-fill: #6A68D1;
}

#menuButton1, #menuButton2, #menuButton3{
    -fx-background-radius: 0;
    -fx-background-color: #D1D0FD;
}

#Bezahlen {
    -fx-background-color: #FFF379;
}

#add, #remove, #count, #tableViewPrice{
    -fx-alignment: center;
}

#tableViewDrink{
    -fx-alignment: center-left;
}


.tab {
    -fx-background-color: #6A68D1;
}

.tab .tab-label {
    -fx-text-fill: #D1D0FD;
}


.table-cell .button {
    -fx-background-color: #FFF379;
}


.table-view {
    -fx-background-color: #BDBCFC;
}

.progress-bar {
    -fx-accent: #6A68D1;
}

