.root{
    -fx-background-color: #FFF379;
}
.password-field{
    -fx-background-color: #FFF8AC;
}

.text-field{
    -fx-background-color: #FFF8AC;
}
.label{
    -fx-text-fill: #6A68D1;
}

.button{
    -fx-background-color: #BDBCFC;
}

#CTablePrice, #DTablePrice, #STablePrice{
    -fx-alignment: center-right;
}

#CTableSelect, #DTableSelect, #STableSelect{
    -fx-alignment: center;
}

#drinkItem {
    -fx-padding: 5; /* Innenabstand für die Versetzung der Border */
    -fx-border-color: black; /* Farbe der Border */
    -fx-border-width: 2; /* Breite der Border */
    -fx-border-radius: 10; /* Eckenradius für die abgerundete Border */
    -fx-background-radius: 10; /* Hintergrundradius, sollte dem Border-Radius entsprechen */
}




